[submodule "external/timez"]
	path = external/timez
	url = https://github.com/deanqx/timez
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/libnpy"]
	path = external/libnpy
	url = https://github.com/llohse/libnpy.git
