examples/digit_recognition/res/mnist_test.bin
examples/digit_recognition/res/mnist_train.csv
examples/digit_recognition/res/mnist_train.bin
examples/digit_recognition/logs/*
examples/digit_recognition_gpu/logs/*
build/**
!build/bin
!build/bin/Release
!build/bin/Release/**